### Merge the sales data from different real estate companies and clean the data

In [0]:
import pandas as pd

## Corcoran

In [0]:
cor_sale = pd.read_csv("data/corcoran/sales.csv",encoding="unicode_escape")
print(cor_sale.shape)

(11896, 17)

In [0]:
cor_df = cor_sale[["Title", "Apt", "Bedrooms", "Bathrooms", "Approx.Sq.Ft.", "Discription", "Image", "Price"]]

In [0]:
cor_df.head(3)

,Title,Apt,Bedrooms,Bathrooms,Approx.Sq.Ft.,Discription,Image,Price
0,296 6th Avenue,Corner of 6th Avenue and 2nd Street,7,5,"4,918",Dreaming of living on a picturesque Park Slope...,"{<img alt=""296 6th Avenue, Front "" src=""//medi...","$5,285,000"
1,192 13th Street,Between 3rd Avenue and 4th Avenue,5,3,"2,193",On a quiet tree lined street in the heart of t...,"{<img alt=""192 13th Street, Sun Flooded 3rd Fl...","$2,195,000"
2,135 Hawthorne Street,Apt. 5A,1,1,,"Big, bright and Sunny is the best way to descr...","{<img alt=""135 Hawthorne Street, 5A, Bathroom""...","$470,000"

In [0]:
# remove the value such as "Corner of 6th Avenue and 2nd Street" since apartment number usually less than 7 characters
apt = []
for a in cor_df["Apt"]:
    a = a.replace("Apt. ","")
    if len(a) > 7:
        a = None
    apt.append(a)

In [0]:
cor_df.loc[:, "Apt"] = apt

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [0]:
cor_df.columns = ["Address", "Apt", "bedroom", "bathroom", "size", "intro", "photo", "price"]
cor_df.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price
0,296 6th Avenue,None,7,5,"4,918",Dreaming of living on a picturesque Park Slope...,"{<img alt=""296 6th Avenue, Front "" src=""//medi...","$5,285,000"
1,192 13th Street,None,5,3,"2,193",On a quiet tree lined street in the heart of t...,"{<img alt=""192 13th Street, Sun Flooded 3rd Fl...","$2,195,000"
2,135 Hawthorne Street,5A,1,1,,"Big, bright and Sunny is the best way to descr...","{<img alt=""135 Hawthorne Street, 5A, Bathroom""...","$470,000"

# Douglas Elliman

In [0]:
de_brooklyn_sale = pd.read_csv("data/Douglas_Elliman/Douglas_Elliman_brooklyn_sale_clean.csv",encoding="unicode_escape")
print("brooklyn", de_brooklyn_sale.shape)
de_bronx_sale = pd.read_csv("data/Douglas_Elliman/Douglas_Elliman_bronx_sale_clean.csv",encoding="unicode_escape")
print("bronx", de_bronx_sale.shape)
de_manhattan_sale = pd.read_csv("data/Douglas_Elliman/Douglas_Elliman_manhattan_sale_clean.csv",encoding="unicode_escape")
print("manhattan", de_manhattan_sale.shape)
de_queens_sale = pd.read_csv("data/Douglas_Elliman/Douglas_Elliman_queens_sale_clean.csv",encoding="unicode_escape")
print("queens", de_queens_sale.shape)

brooklyn (6011, 17)
bronx (1786, 17)
manhattan (5880, 17)
queens (10242, 17)

In [0]:
df1 = de_brooklyn_sale[["house_address", "house_address3", "Beds", "Baths","Approximate Sq. Feet", "house_article", "image_url", "house_price"]]
df2 = de_bronx_sale[["house_address", "house_address3", "Beds", "Baths","Approximate Sq. Feet", "house_article", "image_url", "house_price"]]
df3 = de_manhattan_sale[["house_address", "house_address3", "Beds", "Baths","Approximate Sq. Feet", "house_article", "image_url", "house_price"]]
df4 = de_queens_sale[["house_address", "house_address3", "Beds", "Baths","Approximate Sq. Feet", "house_article", "image_url", "house_price"]]

In [0]:
de_df = pd.concat([df1,df2,df3,df4])
de_df.columns = ["Address", "Apt", "bedroom", "bathroom", "size", "intro", "photo", "price"]
de_df.shape

(23919, 8)

In [0]:
de_df.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price
0,"17 Prospect Park West - Park Slope, New York",NaN,7.0,3,"6,500",This limestone mansion perched on Prospect Par...,['https://www.elliman.com/img/baacfd34522c803b...,"$12,900,000"
1,"398 Kings Hwy - Brooklyn Other, New York",NaN,NaN,NaN,NaN,Prime Development Oppty Located In One Of Broo...,['http://photos.v3.mlsstratus.com/Live/photos/...,"$12,000,000"
2,"59 Middagh St - Brooklyn Heights, New York",NaN,6.0,8,"6,300",59 Middagh Street is truly in a class of its o...,['https://www.elliman.com/img/b96d50811c0059d8...,"$9,999,999"

In [0]:
# clean house_address
building = []
apt = []
for name in de_df["Address"]:
    name = str(name).replace(" - ", ",").split(",")
#     print(name)
    if len(name) <=2:
        b = name[0]
        a = None
    else:        
        if name[0] == "Polhemus":
            b = name[0] + name[1]
            a = name[2].strip()
        if "St" in name[1]:
            b = name[1]
            a = name[2].strip()
        else: 
            b = name[0]
            if len(name[1]) <= 5:
                a = name[1].strip()
            else: 
                a = None
    building.append(b.strip())
    apt.append(a)
de_df["Address"] = building
de_df["Apt"] = apt

In [0]:
de_df.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price
0,17 Prospect Park West,None,7.0,3,"6,500",This limestone mansion perched on Prospect Par...,['https://www.elliman.com/img/baacfd34522c803b...,"$12,900,000"
1,398 Kings Hwy,None,NaN,NaN,NaN,Prime Development Oppty Located In One Of Broo...,['http://photos.v3.mlsstratus.com/Live/photos/...,"$12,000,000"
2,59 Middagh St,None,6.0,8,"6,300",59 Middagh Street is truly in a class of its o...,['https://www.elliman.com/img/b96d50811c0059d8...,"$9,999,999"

# Compass

In [0]:
Compass_bronx_sale = pd.read_csv("data/Compass/Compass_bronx_compass_sale_done.csv",encoding="unicode_escape")
print("bronx", Compass_bronx_sale.shape)
Compass_brooklyn_sale = pd.read_csv("data/Compass/Compass_brooklyn_compass_sale_done.csv",encoding="unicode_escape")
print("brooklyn", Compass_brooklyn_sale.shape)
Compass_manhattan_sale = pd.read_csv("data/Compass/Compass_manhattan_compass_sale_done.csv",encoding="unicode_escape")
print("manhattan", Compass_manhattan_sale.shape)
Compass_queens_sale = pd.read_csv("data/Compass/Compass_queens_compass_sale_done.csv",encoding="unicode_escape")
print("queens", Compass_queens_sale.shape)

bronx (465, 14)
brooklyn (5413, 14)
manhattan (8245, 14)
queens (5638, 14)

In [0]:
df1 = Compass_bronx_sale[["Address", "Room", "bedroom", "bathroom", "size", "intro", "photo", "price"]]
df2 = Compass_brooklyn_sale[["Address", "Room", "bedroom", "bathroom", "size", "intro", "photo", "price"]]
df3 = Compass_manhattan_sale[["Address", "Apt", "bedroom", "bathroom", "size", "intro", "photo", "price"]]
df3.columns = ["Address", "Room", "bedroom", "bathroom", "size", "intro", "photo", "price"]
df4 = Compass_queens_sale[["Address", "Room", "bedroom", "bathroom", "size", "intro", "photo", "price"]]

In [0]:
compass_df = pd.concat([df1,df2,df3,df4], sort=False)
compass_df.columns = ["Address", "Apt", "bedroom", "bathroom", "size", "intro", "photo", "price"]

In [0]:
compass_df.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price
0,7 Fordham Hill Ovl,14B,2.0,1.0,975.0,This is a gut renovated two bedroom unit on th...,['https://d2787ndpv5cwhz.cloudfront.net/2ae6bc...,285000
1,3 Fordham Hill Oval,1G,1.0,2.0,NaN,This is a One Bedroom on the first Floor. A re...,['https://d2787ndpv5cwhz.cloudfront.net/1964d8...,150000
2,4 Fordham Hill Oval,10F,2.0,1.0,975.0,Would you like a white kitchen with lots of st...,['https://d2787ndpv5cwhz.cloudfront.net/a4687f...,270000

# merge all

In [0]:
df = pd.concat([cor_df, de_df],sort=False)
s = []
for size in df["size"]:
    size = str(size)
    size = size.replace(",","")
    s.append(size)
p = []
for price in df["price"]:
    price = str(price)
    price = price.replace(",", "")
    price = price.replace("$", "")
    p.append(price)
df["size"] = s
df["price"] = p

In [0]:
df_all = pd.concat([df, compass_df], sort=False)

In [0]:
df_all = df_all.sort_values(by=['Address'])

# data cleaning

In [0]:
df_all.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price
5226,"""33 Fifth Avenue Corporation""",None,2,NaN,nan,"This elegantly designed, light filled two-bedr...",['http://www.olr.com/Pictures/Interior_Photo/1...,2095000
503,0 0,None,NaN,NaN,nan,"Once upon a time, all high end million dollar ...",['http://media.crmls.org/medias/913d2edf-e617-...,10000000
8435,0 Ambrosio,None,NaN,NaN,nan,2.03 View Lot,['http://media.crmls.org/medias/935defff-49fa-...,299000

In [0]:
df_all.loc[df_all["size"]=="nan","size"] = None
df_all.loc[df_all["Address"]=="nan","Address"] = None

In [0]:
df_all = df_all[df_all["price"].isna()==False]
df_all = df_all[df_all["Address"].isna()==False]
df_all = df_all[df_all["Address"]!="null"]
df_all = df_all[(df_all["bedroom"].isna()==False)|(df_all["bathroom"].isna()==False)]
df_all = df_all[(df_all["Address"].isna()==False)]
df_all = df_all.iloc[:-5]
df_all = df_all.iloc[1:]

In [0]:
df_all.isna().sum()/df_all.shape[0]

Address     0.000000
Apt         0.461077
bedroom     0.016885
bathroom    0.080436
size        0.257749
intro       0.075922
photo       0.037920
price       0.000000
dtype: float64

In [0]:
# remove duplication
new = []
dup = []
df_all = df_all.sort_values(by=['Address', "Apt"])
for i in range(df_all.shape[0]-1): 
    if df_all.iloc[i][1] == df_all.iloc[i+1][1] and df_all.iloc[i][2] == df_all.iloc[i+1][2] and df_all.iloc[i][7] == df_all.iloc[i+1][7] and df_all.iloc[i][0] == df_all.iloc[i+1][0]:
        dup.append([df_all.iloc[i][0], df_all.iloc[i][1]])
    else:
        new.append(df_all.iloc[i].values)

In [0]:
df_clean = pd.DataFrame(new)
df_clean.columns = ["Address", "Apt", "bedroom", "bathroom", "size", "intro", "photo", "price"]

In [0]:
df_clean.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price
0,1 5th Avenue,10D,2,2,NaN,We are pleased to offer the largest line two b...,['https://d2787ndpv5cwhz.cloudfront.net/b44a41...,3000000
1,1 5th Avenue,3A,1,1,NaN,"This is a charming one bedroom, one full bath ...",['https://d2787ndpv5cwhz.cloudfront.net/79afc1...,925000
2,1 5th Avenue,3J,2,2,NaN,"Rare 2 bedroom, 2 bath apartment facing south ...",['https://d2787ndpv5cwhz.cloudfront.net/01881f...,2000000

In [0]:
bathroom = []
for i in df_clean['bathroom']:
    try:
        if i=="Half":
            bathroom.append(0.5)
        else:
            bathroom.append(float(i))
    except:
        bathroom.append(None)
price = []
for i in df_clean['price']:
    try:
        price.append(round(float(i) / 1000,0))
    except:
        price.append(None)
df_clean["bathroom"] = bathroom
df_clean["price(k)"] = price

In [0]:
df_clean.shape

(47028, 9)

In [0]:
df_clean.head(3)

,Address,Apt,bedroom,bathroom,size,intro,photo,price,price(k)
0,1 5th Avenue,10D,2,2.0,NaN,We are pleased to offer the largest line two b...,['https://d2787ndpv5cwhz.cloudfront.net/b44a41...,3000000,3000.0
1,1 5th Avenue,3A,1,1.0,NaN,"This is a charming one bedroom, one full bath ...",['https://d2787ndpv5cwhz.cloudfront.net/79afc1...,925000,925.0
2,1 5th Avenue,3J,2,2.0,NaN,"Rare 2 bedroom, 2 bath apartment facing south ...",['https://d2787ndpv5cwhz.cloudfront.net/01881f...,2000000,2000.0

In [0]:
df_clean.loc[df_clean["bedroom"]==" ","bedroom"] = None
df_clean.loc[df_clean["size"]==" ","size"] = None
df_clean.loc[df_clean["size"]==" ","size"] = None

In [0]:
df_clean.dtypes

Address      object
Apt          object
bedroom     float64
bathroom    float64
size        float64
intro        object
photo        object
price        object
price(k)    float64
dtype: object

In [0]:
df_clean = df_clean[df_clean["bedroom"].isna()==False]
df_clean = df_clean[df_clean["bathroom"].isna()==False]
df_clean = df_clean[df_clean["size"].isna()==False]
print(df_clean.shape)

(28626, 9)

In [0]:
df_clean.to_csv("data/all_sales.csv")